@import '../../style/Variables';

#bfio-header {
  border-bottom: 4px solid $mainColor;

  #bfio-header-content {
    width: 95%;
    max-width: $maxWidth;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 20px;
    transition: padding 0.5s;

    #bfio-header-logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      overflow: visible;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      z-index: 1;

      a {
        transform-origin: top center;
        transition: transform 0.5s;
        user-select: none;
      }
    }

    #bfio-header-nav {
      flex: 0 0 50%;
      z-index: 2;

      a {
        padding-bottom: 2px;
        font-size: 1.25em;
        color: $mainColor;
        font-weight: 700;
        text-decoration: none;
        font-family: "Open Sans", sans-serif;
        border-bottom: 3px solid transparent;
        transition: border-bottom-color 0.5s;
        margin-right: 30px;
        user-select: none;

        &.active, &:hover {
          border-bottom: 3px solid $mainColor;
        }

        &:last-of-type {
          margin-right: 0 !important;
        }
      }
    }

    #bfio-header-links {
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      z-index: 2;

      a {
        text-decoration: none;
        color: $mainColor;
        margin-left: 10px;
        user-select: none;

        &:first-of-type {
          margin-left: 0 !important;
        }
      }

      a:not(.subscribe) {
        font-size: 1.5em;
        padding: 5px 10px;
        border-bottom: 3px solid transparent;
        transition: border-bottom-color 0.5s;

        &:hover {
          border-bottom: 3px solid $mainColor;
        }
      }

      .subscribe {
        color: $mainColor;
        margin-left: 30px;
        font-weight: bold;
        padding: 10px 20px;
        border: 2px solid $mainColor;
        border-radius: 5px;
        font-size: 1.1em;

        &:hover {
          background: $mainColor;
          color: white;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    #bfio-header-content {
      padding-top: 30px;
      padding-bottom: 15px;

      #bfio-header-logo a {
        transform: scale(0.8);
      }

      #bfio-header-nav {
        font-size: 0.9em;

        a {
          margin-right: 25px;
        }
      }

      #bfio-header-links {
        a {
          margin-left: 15px;
        }

        .subscribe {
          margin-left: 25px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    #bfio-header-content {
      padding-top: 25px;
      padding-bottom: 10px;

      #bfio-header-logo a {
        transform: scale(0.7);
      }

      #bfio-header-nav {
        font-size: 0.8em;

        a {
          margin-right: 12px;
        }
      }

      #bfio-header-links {
        font-size: 0.9em;

        a {
          margin-left: 0;
        }

        .subscribe {
          margin-left: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    #bfio-header-content {
      justify-content: flex-end;
      min-height: 40px;
      transition: none;
      padding-top: 8px;
      padding-bottom: 8px;

      #bfio-header-nav, #bfio-header-links {
        display: none;
      }

      #bfio-header-logo a {
        transform: scale(0.6);
      }
    }
  }
}

.page-scrolled #bfio-header {
  #bfio-header-content {
    padding-top: 8px;
    padding-bottom: 8px;

    #bfio-header-logo a {
      transform: scale(0.6);
    }
  }
}