@import '../../style/Variables';

#bfio-header-sidebar-btn {
  width: 35px;
  height: 35px;
  display: none;
  align-items: center;
  justify-content: center;
  color: $mainColor;
  cursor: pointer;
  user-select: none;
  text-decoration: none;

  i {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: $mainColor;
    transition: background-color .2s ease-out;

    &:before, &:after {
      content: '';
      width: 100%;
      height: 3px;
      border-radius: 5px;
      background-color: $mainColor;
      position: absolute;
      left: 0;
      transition: transform 0.2s, background-color 0.2s;
    }

    &:before {
      top: -9px;
    }

    &:after {
      bottom: -9px;
    }
  }

  &.active i {
    background: transparent;

    &:before {
      background-color: white;
      transform: translateY(9px) rotateZ(45deg);
    }

    &:after {
      background-color: white;
      transform: translateY(-9px) rotateZ(-45deg);
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
  }
}

#bfio-header-sidebar-nav {
  nav {
    position: absolute;
    top: 0;
    right: 0;
    width: $sidebarHeaderWidth;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6px 18px;
    box-sizing: border-box;
    overflow: auto;

    a {
      color: #b3b3b3;
      text-decoration: none;
      font-size: 1.2em;
      padding: 15px;
      user-select: none;
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}