@import '../../style/Variables';

.cloud {
  z-index: -1;
  position: absolute;
  width: 150px;
  height: 150px;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke: $cloudColor;
  }

  &.animated-1 svg {
    animation: scale-up-down-1 10s ease-in-out infinite;

    @keyframes scale-up-down-1 {
      0% {
        transform: scale(1) translateX(2px);
      }

      50% {
        transform: scale(1.2) translateX(-2px);
      }

      100% {
        transform: scale(1) translateX(2px);
      }
    }
  }

  &.animated-2 svg {
    animation: scale-up-down-2 4s ease-in-out infinite;

    @keyframes scale-up-down-2 {
      0% {
        transform: scale(1) translateY(0px);
      }

      50% {
        transform: scale(1.025, 1) translateY(1px);
      }

      100% {
        transform: scale(1) translateY(0px);
      }
    }
  }

  &.animated-3 svg {
    animation: scale-up-down-3 4s ease-in-out infinite;

    @keyframes scale-up-down-3 {
      0% {
        transform: scale(1) translateY(1px);
      }

      50% {
        transform: scale(1.05, 0.95) translateY(-3px);
      }

      100% {
        transform: scale(1) translateY(1px);
      }
    }
  }
}