@import '../../../style/Variables';

#bfio-subscription-form {
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    .input {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
    }

    & > *, & > .input > * {
      height: 40px;
      line-height: 40px;
    }

    label, button {
      background-color: $mainColor;
      color: white;
      user-select: none;
    }

    label, button.active {
      cursor: pointer;

      &:hover {
        background-color: darken($mainColor, 5%);
      }
    }

    label {
      flex-grow: 0;
      flex-shrink: 0;
      width: 50px;
      background-color: $mainColor;
      color: white;
      font-size: 1.2em;
      border-radius: 5px 0 0 5px;
      text-align: center;
    }

    input {
      flex-grow: 0;
      flex-shrink: 0;
      width: calc(100% - 50px);
      padding: 0 15px;
      font-size: 1.3em;
      border: 1px solid rgba($mainColor, 0.3);
      border-left: none;
      border-right: none;
      outline: none;
      transition: border-color 0.3s;
      box-sizing: border-box;

      &:focus {
        border-color: $mainColor;
      }
    }

    button {
      flex-grow: 0;
      flex-shrink: 0;
      padding: 0 15px;
      font-family: "Open Sans", sans-serif;
      font-size: 1.2em;
      border: none;
      outline: none;
      border-radius: 0 5px 5px 0;
      transition: color 0.3s;

      &:not(.active) {
        color: rgba(white, 0.5);
      }
    }

    &.pending {
      pointer-events: none;
    }

    @media screen and (max-width: 480px) {
      flex-direction: column;

      .input, button {
        align-self: stretch;
      }

      input {
        border: 1px solid rgba($mainColor, 0.3);
        border-left: none;
        border-radius: 0 5px 5px 0;
      }

      button {
        margin-top: 10px;
        border-radius: 5px;
      }
    }
  }

  .subscribe-feedback {
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    position: relative;

    h6 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 1.5em;
      font-weight: 700;
      opacity: 0;
      transition: opacity 0.3s;

      &.visible {
        opacity: 1;
      }

      &.error {
        color: #b6312d;
        font-size: 1.3em;
      }

      &:not(.error) {
        font-style: italic;
        font-size: 1.5em;
      }
    }

    .loader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      opacity: 0;
      animation: appear-loader 0.5s forwards 1s;

      @keyframes appear-loader {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      i {
        color: $mainColor;
        font-size: 1.8em;
        animation: rotate-loader 0.9s ease-in-out infinite;

        @keyframes rotate-loader {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}