@import '../../node_modules/reset-css/reset';

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

#bfio-content {
  padding-top: 150px;

  * > div {
    min-height: 1000px; // TODO: remove (temporary fake page height)
  }
}