@import '../../node_modules/reset-css/reset';
@import './style/Variables';
@import './style/Mixins';

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;

  &.no-transition {
    &, * {
      transition: none !important;
    }
  }
}

#root {
  height: 100%;

  #bfio-header-sidebar-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: $sidebarHeaderWidth;
    height: 200%;
    overflow-x: hidden;
    overflow-y: auto;
    background: black;
  }

  #bfio-background {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background: white;
  }

  #bfio-content {
    z-index: 3;
    position: relative;
    width: 100%;
    min-height: calc(100% - 150px);
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
    background: white;

    #bfio-content-width {
      @include contentWidth();
    }
  }

  #bfio-header {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
  }

  #bfio-header-sidebar-btn {
    z-index: 5;
    position: fixed;
    top: 12px;
    right: 20px;
  }

  #bfio-background, #bfio-header, #bfio-content {
    transform: translateX(0);
    transition: transform 0.5s;
  }

  &.header-sidebar-opened {
    #bfio-background, #bfio-header, #bfio-content {
      transform: translateX(-$sidebarHeaderWidth);
    }
  }
}