@import '../../node_modules/reset-css/reset';
@import './style/Variables';

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
}

#root {
  height: 100%;

  #bfio-wrapper {
    height: 100%;

    & > * {
      transform: translateX(0);
      transition: transform 0.5s;

      &.offsetX {
        transform: translateX(-$sidebarHeaderWidth);
      }
    }

    #bfio-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #fff;
      z-index: 4;
    }

    #bfio-content {
      position: relative;
      z-index: 3;
      padding-top: 150px;
      background: white;
      overflow: hidden;
      min-height: calc(100% - 150px);
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      width: 95%;
      max-width: 1200px;
      margin: 0 auto;

      #bfio-home > div {
        min-height: 1000px; // TODO: remove (temporary fake page height)
      }
    }
  }

  #bfio-sidebar-header-toggle {
    z-index: 5;
  }

  #bfio-wrapper-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background: #fff;
    z-index: 2;
  }

  #bfio-sidebar-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background: black;
    z-index: 1;
  }
}